---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre Nosotros">
  <main class="p-[4rem] m-auto flex flex-col items-center justify-center">
    <section class="flex flex-col justify-center items-center text-center">
      <h2 class="font-bold text-3xl">Somos Provincia del Cañar</h2>
      <img
        class="max-w-52 mb-5"
        src="./logo.png"
        alt="Logo - Provincia del Cañar"
      />
      <p class="text-xl max-w-[70ch]">
        Somos una familia que cree que la formación es un proceso permanente,
        personal, cultural y social. Consideramos a nuestros estudiantes como
        actores principales de su propia educación orientada a formar su
        personalidad para tomar decisiones y asumir consecuencias, estamos
        seguros que cada conciencia tiene su camino para desarrollarse y nos
        honra acompañar y guiar este crecimiento para que cada uno alcance su
        mayor potencial.
      </p>
    </section>
  </main>
</Layout>
