---
import Layout from "../layouts/Layout.astro";
import Carrousel from "../components/Carrousel.astro";
import Intro from "../components/Intro.astro";
import Educacion from "../components/Educacion.astro";
import Personal from "../components/Personal.astro";
import Banner from "../components/Banner.astro";
import Connect from "../components/Connect.astro";
---

<Layout title="Colegio provincia del Cañar">
  <Carrousel />
  <main>
    <Intro />
    <Educacion />
    <Personal />
    <Banner />
  </main>
  <Connect />
</Layout>

<style>
  html {
  }
</style>
