---
import Layout from "../layouts/Layout.astro";
import BentoGrid from "../components/BentoGrid.astro";
---

<Layout title="Provincia del Cañar - Instruccion">
  <main>
    <BentoGrid>
      <div></div>
    </BentoGrid>
  </main>
</Layout>
