---
import Layout from "../layouts/Layout.astro";
import BentoGrid from "../components/BentoGrid.astro";
---

<Layout title="Provincia del Cañar - Instruccion">
  <main>
    <div class="w-full mx-auto max-w-[1400px]">
      <h1 class="my-5 text-center px-6 font-semibold text-3xl">
        Nuestro Compromiso Educativo
      </h1>
      <p class="mb-4 text-center">
        En nuestra institución, cada área educativa está enfocada en desarrollar
        habilidades académicas y personales, preparando a los estudiantes para
        enfrentar los desafíos del futuro. Buscamos formar individuos íntegros,
        promoviendo el crecimiento intelectual, social y emocional
      </p>
    </div>
    <BentoGrid />
  </main>
</Layout>
