<section class="mt-10">
  <div
    class="bg-cover bg-center h-auto relative p-16"
    style="background-image: url('../a1.jpg'); "
  >
    <div
      class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed sm:p-8 bg-gradient-to-br from-amber-700 to-sky-700 opacity-80"
      style=" "
    >
    </div>
    <div
      class="text-white flex flex-col h-full text-center items-center relative"
    >
      <h1 class="text-4xl font-semibold">
        ¡Descubre tu potencial en Provincia del Cañar!
      </h1>
      <p class="text-2xl">
        En Provincia del Cañar, nos esforzamos por cultivar el talento y la
        pasión de cada estudiante. Nuestra comunidad educativa está dedicada a
        brindar un ambiente enriquecedor que inspire el crecimiento personal y
        académico. ¡Únete a nosotros y haz realidad tus sueños!
      </p>
      <a
        href=""
        class="mt-5 py-3 px-7 font-normal rounded-md text-xl bg-white text-amber-950 flex flex-col text-center items-center transition-all duration-200 hover:scale-95"
      >
        Explora más
      </a>
    </div>
  </div>
</section>
