<section class="">
  <div
    class="relative bg-cover bg-center h-[80vh] sm:h-[45vh] md:h-[35vh]"
    style="background-image: url('../b1.jpg');"
  >
    <div
      class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed p-8 md:p-16"
      style="background-color: rgba(0, 0, 0, 0.6)"
    >
      <div class="text-white flex flex-col h-full text-center items-center">
        <h1 class="text-4xl font-semibold">
          ¡Descubre tu potencial en Provincia del Cañar!
        </h1>
        <p class="text-2xl">
          En Provincia del Cañar, nos esforzamos por cultivar el talento y la
          pasión de cada estudiante. Nuestra comunidad educativa está dedicada a
          brindar un ambiente enriquecedor que inspire el crecimiento personal y
          académico. ¡Únete a nosotros y haz realidad tus sueños!
        </p>
        <a
          href=""
          class="mt-5 py-3 px-7 font-semibold rounded-md text-2xl bg-amber-700 flex flex-col text-center items-center"
        >
          Explora más
        </a>
      </div>
    </div>
  </div>
</section>
