<section class="text-center my-24 m-auto px-5">
  <h1 class="text-4xl font-bold">Secciones Educativas</h1>
  <h6 class="font-semibold">Conoce nuestro plan de estudios</h6>
  <hr
    class="w-48 h-1 mx-auto my-2 p-0 bg-amber-800 border-0 rounded md:my-10 dark:bg-gray-700"
  />
  <div
    class="flex flex-col md:flex-row justify-center md:space-x-48 items-center mt-4"
  >
    <article class="flex flex-col max-w-96 items-center pb-5">
      <picture class="p-2"
        ><img src="/ph1.jpg" alt="" class="rounded-full h-auto" /></picture
      >
      <h3 class="text-3xl font-semibold text-amber-800">
        Educacion General Basica
      </h3>
      <p class="font-semibold">
        En nuestra sección de Educación General Básica, en Provincia del Cañar,
        ofrecemos una educación integral que nutre el crecimiento académico y
        personal de nuestros estudiantes, fomentando el pensamiento crítico y
        los valores éticos.
      </p>
    </article>
    <article class="flex flex-col max-w-96 items-center">
      <picture class="p-2"
        ><img src="/ph1.jpg" alt="" class="rounded-full h-auto" /></picture
      >
      <h3 class="text-3xl font-semibold text-amber-800">
        Bachillerato General Unificado
      </h3>
      <p class="font-semibold">
        En Bachillerato en Provincia del Cañar, preparamos a nuestros
        estudiantes para el éxito universitario y profesional mediante un
        enfoque educativo riguroso y orientado al desarrollo del liderazgo y la
        excelencia académica.
      </p>
    </article>
  </div>
</section>
