<footer
  class="flex flex-col items-center justify-center mt-8 py-2 bg-amber-900 text-white fixed-bottom"
>
  <p>Pagina modelo creada por <strong>Jair Zhindon</strong></p>
  <ul class="flex flex-row space-x-9 text-3xl">
    <li>
      <a href="https://www.instagram.com/jairssal/"
        ><i class="fa-brands fa-instagram"></i></a
      >
    </li>
    <li>
      <a href="https://twitter.com/JairZhindon">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/TheSamurayJack">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
  </ul>
</footer>
