<section
  class="my-9 py-6 px-4 flex flex-col h-auto mx-auto items-center justify-center bg-[#ffffff]"
>
  <header id="header-container" class="flex flex-col items-center">
    <img
      src="/logo.png"
      alt="Escudo de la unidad educativa"
      class="w-32 pb-2"
    />
    <div
      class="relative z-10 max-w-[70ch] text-pretty text-center text-xl px-2"
    >
      <h1
        class="mx-auto mb-10 text-wrap text-center px-6 font-semibold text-3xl"
      >
        Bienvenido a <br />La UEF. Provincia del Cañar
      </h1>
      <hr
        class="w-48 h-1 mx-auto my-2 p-0 bg-amber-800 border-0 rounded md:my-10 dark:bg-gray-700"
      />
    </div>
  </header>
  <div
    class="container flex flex-col lg:flex-row items-center justify-center lg:space-x-14 text-pretty"
  >
    <div class="max-w-[700px]">
      <p class="p-4">
        La <strong>UEF. Provincia del Cañar</strong> es una institución educativa
        reconocida por su dedicación a la formación integral de los estudiantes.
        Ubicado en una región con una rica herencia cultural, el colegio se distingue
        por ofrecer una <strong>educación</strong> que equilibra el conocimiento
        académico con el desarrollo de valores éticos y sociales. Su enfoque pedagógico
        fomenta la <strong>creatividad</strong>, el pensamiento crítico y la
        responsabilidad ciudadana, preparando a los jóvenes para enfrentar los
        retos de un mundo en constante cambio.
      </p>
      <p class="p-4 hidden lg:block">
        La comunidad educativa del colegio <strong>"Provincia del Cañar"</strong
        > se caracteriza por su compromiso con el crecimiento personal y académico
        de cada estudiante. A través de un plan educativo diverso y adaptado a las
        necesidades del entorno, el colegio busca formar ciudadanos conscientes y
        comprometidos con su sociedad. Además de su enfoque en la enseñanza tradicional,
        también se promueven actividades que estimulan el desarrollo integral, permitiendo
        a los estudiantes explorar sus intereses y talentos en distintos ámbitos.
      </p>
    </div>
    <div
      class="relative flex flex-col align-middle h-auto w-auto max-w-[280px] transition-all ease-out hover:scale-95"
    >
      <img
        src="/c4.webp"
        alt="Escudo de la unidad educativa"
        class="h-full w-full rounded-2xl z-10"
        style=""
      />
      <div
        class="top-3 left-3 rounded-2xl absolute bg-gradient-to-r from-[#362115] to-[#152c36] w-full h-full"
        style=""
      >
      </div>
    </div>
  </div>
  <a
    href="/about"
    class="mt-9 p-2 rounded border-2 border-amber-800 text-amber-800 hover:scale-125 hover:text-white hover:bg-amber-800 transition-all ease-in duration-75"
    >&rArr; Mas informacion</a
  >
</section>
