<section
  class="py-9 flex flex-col sm:flex-row sm:h-[55vh] mx-auto items-center justify-center bg-[#EBEBEB]"
>
  <img
    src="/favicon.png"
    alt="Escudo de la unidad educativa"
    class="max-h-40 sm:max-h-64 pb-2"
  />
  <div
    class="relative z-10 max-w-[70ch] text-pretty px-6 text-center text-xl sm:px-20"
  >
    <h1 class="mx-auto mb-10 text-wrap text-center px-6 font-semibold text-3xl">
      Bienvenido a <br />La UEF. Provincia del Cañar
    </h1>
    <hr
      class="w-48 h-1 mx-auto my-2 p-0 bg-amber-800 border-0 rounded md:my-10 dark:bg-gray-700"
    />
    <p class="mb-4">
      Cultivamos el conocimiento y fomentamos el crecimiento integral de
      nuestros estudiantes! Nuestra misión es ofrecer una educación de calidad
      que inspire el liderazgo y la excelencia académica
    </p>
    <a
      href="/about"
      class="my-4 p-2 rounded border-2 border-amber-800 text-amber-800"
      >&rArr; Sobre nosotros</a
    >
  </div>
</section>
