<section
  class="flex flex-col xl:flex-row items-center justify-center sm:h-[55vh] mx-7"
>
  <img src="/d1.jpg" alt="" class="max-w-96 sm:max-w-screen-sm mb-4" />
  <div class="text-center xl:text-right max-w-[70ch] text-pretty text-xl">
    <h1 class="text-4xl font-bold">Personal Educativo</h1>
    <h6 class="font-semibold">Conoce a nuestros Docentes</h6>
    <hr
      class="xl:ml-48 h-1 my-2 p-0 bg-amber-800 border-0 rounded xl:my-10 dark:bg-gray-700 text-right"
    />
    <p class="mt-2">
      En Provincia del Cañar, valoramos el papel esencial de nuestros docentes
      en la formación integral de los estudiantes. Buscamos profesionales
      comprometidos con la excelencia académica y el desarrollo personal de cada
      alumno.
    </p>
  </div>
</section>
