---
interface Props {
  title: string;
}
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index" />
    <meta
      name="description"
      content="La Unidad Educativa Fiscal Provincia del Cañar ofrece educación de calidad, enfocada en el desarrollo integral de los estudiantes. Formamos jóvenes preparados para enfrentar los desafíos del futuro, en un entorno inclusivo y basado en valores."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script
      src="https://kit.fontawesome.com/ed8e2bfecf.js"
      crossorigin="anonymous"></script>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: "Rubik", sans-serif;
    background: #f9f9f9;
    background-size: 224px;
  }
</style>
